<app-back-button (click)="close()"></app-back-button>

<div class="card mb-3">
  @if (!productId) {
    <h2>Crear Producto</h2>
  } @else {
    <h2>Editar Producto {{ product?.name }}</h2>
  }
</div>

<form [formGroup]="productForm" novalidate>
  <div class="grid">
    <!-- Columna izquierda -->
    <div class="col-12 lg:col-8">
      <div class="card">
        <h3 class="text-800 mb-2">Información básica</h3>
        <p-divider></p-divider>

        <p-iftalabel>
          <input id="name" type="text" pInputText formControlName="name" />
          <label for="name">Nombre</label>
        </p-iftalabel>

        <p-iftalabel>
          <textarea id="description" pInputTextarea rows="3" formControlName="description" class="p-inputtext w-full h-6rem"></textarea>
          <label for="description">Descripción</label>
        </p-iftalabel>

        <p-iftalabel>
          <p-select
            id="productCategoryId"
            formControlName="productCategoryId"
            appendTo="body"
            dataKey="id"
            optionLabel="name"
            optionValue="id"
            [options]="productCategories"
            [filter]="true"
            [virtualScroll]="true"
            [virtualScrollItemSize]="40"
            placeholder="Seleccionar categoría"
            styleClass="w-full"
            [showClear]="true"
          ></p-select>
          <label for="productCategoryId">Categoría</label>
        </p-iftalabel>
      </div>
    </div>

    <!-- Columna derecha -->
    <div class="col-12 lg:col-4">
      <div class="card">
        <h3 class="text-800 mb-2">Precios</h3>
        <p-divider></p-divider>

        <p-iftalabel>
          <input id="price" type="number" pInputText formControlName="price" />
          <label for="price">Precio</label>
        </p-iftalabel>

        <p-iftalabel>
          <p-select id="currency" formControlName="currency" [options]="currencies" placeholder="Seleccionar moneda" styleClass="w-full" [showClear]="true"></p-select>
          <label for="currency">Moneda</label>
        </p-iftalabel>
      </div>
    </div>
  </div>

  <div class="text-right mt-4">
    <p-button label="Guardar" icon="pi pi-check" (onClick)="submit()"></p-button>
  </div>
</form>
