.sidebar-container {
  position: fixed;
  height: 100vh;
  top: 0;
  left: 0;
  width: 250px;
  display: flex;
  flex-direction: column;
  background: transparent;
  overflow: hidden;
  transition: width 0.3s ease-in-out;
}

.sidebar-container {
  width: 250px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: var(--sidebar-background);
  overflow-y: auto;
  transition: transform 0.3s ease-in-out;

  &.mobile {
    transform: translateX(-100%);
    visibility: hidden;
  }

  &.mobile.visible {
    transform: translateX(0%);
    visibility: visible;
  }

  &.collapsed {
    width: 0;
    overflow: hidden;
    visibility: hidden;
  }
}

@media (max-width: 1000px) {
  .sidebar-container.mobile {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100vh;
    background-color: var(--bg-secondary-color);
    z-index: 1000;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;

    .layout-menu-container {
      padding: 2rem;
      flex: 1;
      flex: 1;
      padding-bottom: 1.5rem;
    }

    &.visible {
      transform: translateX(0);
    }
  }
}

.sidebar-header {
  padding: 1.5rem 1.5rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.sidebar-header .logo {
  width: 100%;
  max-width: 180px;
}

.layout-menu-container {
  padding: 2rem;
  overflow-y: auto;
  flex: 1;
  padding-bottom: 1.5rem;
}

.custom-menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.custom-menu li {
  position: relative;
  padding: 2px;
  margin: 5px;
  border-radius: var(--sidebar-border-radius);
}

.custom-menu li > a {
  cursor: pointer;
  display: flex;
  align-items: center;
  color: var(--sidebar-text);
  text-decoration: none;
  padding: 10px;
  border-radius: var(--sidebar-border-radius);
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

.custom-menu li > a:hover {
  background-color: none;
}

.submenu-toggler {
  display: inline-block;
  transition: transform 0.3s ease-in-out;
  transform-origin: center center;
  text-align: center;

  &.rotated {
    transform: rotate(180deg);
  }
}

.custom-menu ul {
  list-style: none;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
}

.custom-menu ul.expanded {
  max-height: 300px;
}

.custom-menu ul li > a {
  display: flex;
  align-items: center;
  color: var(--sidebar-text);
  text-decoration: none;
  padding: 8px 15px;
  font-size: 0.9rem;
  border-radius: var(--sidebar-border-radius);
  transition:
    background-color 0.3s ease-in-out,
    color 0.3s ease-in-out;
}

.custom-menu ul li > a:hover {
  background-color: var(--sidebar-hover);
}

.custom-menu li.active > a {
  background-color: var(--sidebar-active);
}

i {
  font-size: 1rem;
}
.custom-menu li > a i {
  margin-right: 10px;
  color: var(--sidebar-icon-color);
  font-size: 1.2rem;
}

.custom-menu ul li > a i {
  margin-right: 8px;
  padding-left: 0.5rem;
  color: var(--sidebar-icon-color);
  font-size: 1rem;
}

.sub-menu-expand {
  background-color: var(--sidebar-sub-hover);
  border-radius: var(--sidebar-border-radius);
}

@media (max-width: 992px) {
  .sidebar-container {
    width: 5rem;
  }

  .sidebar-header {
    justify-content: center;
    padding: 1.5rem 0;
  }

  .sidebar-header .logo {
    display: none;
  }

  .layout-menu-container {
    padding: 0 0.5rem;
  }

  .custom-menu li a {
    justify-content: flex-start;
  }

  .custom-menu li a i {
    margin: 0 10px 0 5px;
  }

  .custom-menu ul li > a {
    justify-content: flex-start;
    padding: 4px;
  }

  .app-version {
    display: none;
  }
}
