<div class="dashboard-container">


  <div class="welcome-section">
    <h1>¡Bienvenido, {{ usuarioNombre }}!</h1>
    <p>Hoy es {{ fechaActual }}</p>
    <p class="subtitle">
      Gestioná tu inventario, creá presupuestos y analizá tus resultados desde un solo lugar.
    </p>
  </div>


  <div class="cards-grid">
    <div class="card">
      <h3>Gestión de Inventario</h3>
      <p>Controlá tus productos de una forma eficiente, rapida e intuitiva.</p>
    </div>

    <div class="card">
      <h3>Generación de Presupuestos</h3>
      <p>Creá presupuestos claros y personalizados para tus clientes.</p>
    </div>

    <div class="card">
      <h3>Gestión de Clientes</h3>
      <p>Controla a tus clientes y sus datos correspondientes.</p>
    </div>
  </div>

</div>
